@import url('https://fonts.googleapis.com/css2?family=Google+Sans:wght@400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Google Sans', ui-sans-serif, system-ui, sans-serif;

  --color-primary-50: #ecfdf5;
  --color-primary-100: #d1fae5;
  --color-primary-500: #10b981;
  --color-primary-600: #059669;
  --color-primary-700: #047857;
  --color-primary-800: #065f46;
  --color-primary-900: #064e3b;
}

@layer base {
  body {
    @apply bg-stone-50 text-stone-800 font-sans antialiased;
  }
}